Please Choose=Bitte auswählen=UNKNOWN
Berlin/Potsdam=Berlin/Potsdam=Berlin
!London=London=London
Other=Sonstiges=other
Bern=Bern=Bern
Pforzheim/Enzkreis=Pforzheim/Enzkreis=Pforzheim
Augsburg=Augsburg=Augsburg
Ruhr region=Ruhrgebiet=Ruhrgebiet
Stuttgart=Stuttgart=Stuttgart
Leipzig=Leipzig=Leipzig
Wuppertal/Solingen/Remscheid=Wuppertal/Solingen/Remscheid=Wuppertal
Düsseldorf=Düsseldorf=Düsseldorf
Eichwalde/Zeuthen/Schulzendorf=Eichwalde/Zeuthen/Schulzendorf=Eichwalde
Hannover=Hannover=Hannover
Bielefeld=Bielefeld=Bielefeld
Munich=München=München
ZES_Experimentell=ZES_Experimentell=ZES_Experimentell
Konstanz=Konstanz=Konstanz
Weimar=Weimar=Weimar
