<configuration>

    <appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
        <file>
            logFile.log
        </file>
        <append>
            true
        </append>
        <immediateFlush>
            true
        </immediateFlush>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="simra.backend.servlets" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEOUT" />
    </logger>

    <logger name="simra.backend" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>